body {
    background-color: #F5DBCB;
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: cursive, serif;
}

.sketchAndOptions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 400px;
}

h2 {
    font-family: cursive, serif;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #80A1C1;
    border-radius: 30px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    margin-bottom: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#gridToggle, #rainbowMode, #shadingMode, #eraserMode {
    width: 25px;
    height: 25px;
    background-color: #80A1C1;
    border-radius: 30px;
    opacity: 0.7;
    margin-right: 20px;
}
.containerCheckbox {
    display: flex;
    margin-bottom: 20px;
}

label {
    font-family: cursive, serif;
    display: flex;
    font-size: 25px;
}

.clearButton {
    width: 50%;
    height: 40px;
    font-size: 26px;
    background-color: #80A1C1;
    font-family: cursive, serif;
    border-radius: 30px;
    opacity: 0.7;
}

.clearButton:hover {
    opacity: 1;
}

.outerBox {
    height: 700px;
    width: 700px;
    background-color: #80A1C1;
    display: flex;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 30px;
}
.etchASketch {
    background-color: white;
    flex: auto;
    display: grid;
    border-radius: 30px;
}

.box {
    border: none;
    background-color: white;
}

.box.grid {
    border: solid grey 1px;
}

.box.clicked {
    background-color: black;
}

